html {zoom: 75%;
}
body{
    font-family: Arial;
    width: 100%;
}

h1{
    text-align:center;
}
h2{
    text-align: center;
}
.left{
    text-align: left;
}
  
table {
    width: 80%;
  }
.center-table {
margin-left: auto;
margin-right: auto;
}


th {
    background: lightblue;
  }

.flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div{
    color: lightblue;
    text-align: left;
    width: fit-content(20em);
}

.rect:hover{
    fill: lightblue
}
.rect{
    fill:rgb(146, 97, 221);
}
.circle:hover{
    stroke:lightblue;
    stroke-width:10;
}

