body{
    font-family: Arial;
}

h1{
    text-align:center;
}
h2{
    text-align: center;
}
.left{
    text-align: left;
}
  
table {
    width: 80%;
  }
.center-table {
margin-left: auto;
margin-right: auto;
}


th {
    background: lightblue;
  }

  .flex-container{
    display: flex;
    justify-content: center;
}

.flex-container > div{
    color: orchid;
    text-align: left;
    width: 980px;
}

